# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eclipse project files
.cproject
.project

# click files
*.d
*.ko.cmd
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-diameter.xml
kversion.c
modules.order
diameter-kelem.conf
diameter-kelem.mk
diameter-kmain.cc
diameter-uelem.conf
diameter-uelem.mk
diameter-umain.cc
diameter.mod.c